

.toggle {
  width: 50px;
  height: 20px;
  position: relative;
}

.toggle::before {
  position: absolute;
  left: 0;
  top: 0;

  background-color: hsl(179.08deg 100% 40.55%);
  padding: 8px 15px;
  content: "";
  border-radius: 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle[aria-pressed="false"]::before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}