.addon-options {
  display: flex;
  flex-direction: column;

  gap: 10px;

  .addon-option {
    display: flex;
    border: solid;
    align-items: center;

    padding: 5px;
    justify-content: space-between;

    .addon-check {
      display: flex;
      gap: 15px;
    }

    // .addon-descr {
    //   display: flex;
    //   flex-direction: column;
    // }
  }
}
