@use "../abstracts/variables";

#flow-form {
  width: 90%;
  max-width: 550px;
  background-color: white;

  border-radius: 10px;
  padding: 25px;

  position: absolute;
  top: 5.5rem;
}

.button-container {
  position: fixed;
  width: 100%;

  bottom: 0;
  left: 0;

  background-color: white;
  border-radius: 0;

  display: flex;
  justify-content: space-between;

  button {
    padding: 0.75em 0;
    width: 7em;
    margin: 20px;
    border-style: none;

    &.next-step {
      background-color: variables.$marine-blue;
      color: white;
      margin-left: auto;
    }
  }
}

// LARGER DISPLAYS

@media screen and (min-width: variables.$large-breakpoint) {
  #flow-form {
    // Resposition to center
    position: relative;
    top: 0;
    left: 0;

    width: 900px;
    max-width: 90%;

    display: flex;
    justify-content: space-between;

    .button-container {
      position: relative;

      display: flex;
      justify-content: space-between;

      button {
        margin-right: 0;

        &.go-back {
          margin-left: 0;
        }
        
      }
    }
  }
}
