@use 'src/styles/utils/variables';
@use 'src/styles/components/toggle';

#plans {
  display: flex;
}

.plan-option {
  border: solid;
  border-radius: 0px;

  padding: .5rem;
  margin: .5rem;
}

label.plan-option {
  > input{
    visibility: hidden;
    position: absolute;
  }

  &:has(input:checked){
    background-color: variables.$magnolia;
    border-color: variables.$purplish-blue;
  }

  &:hover {
    border-color: variables.$purplish-blue;
  }
}


