@use 'src/styles/utils/variables';

#root {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: variables.$magnolia;
}

#root * {
  border-radius: 10px;
}