@use '../abstracts/variables';

* {
  border-radius: 10px;
  border-style: none;
}

h1 {
  margin-bottom: .7rem;
  font-size: 1.75rem;
  color: variables.$marine-blue;
}

p {
  font-weight: variables.$regular;
  color: variables.$cool-gray;
}

header {
  margin-bottom: 1.25rem;
}

button:hover {
  cursor: pointer;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}