@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$font-family: "Ubuntu", sans-serif;
$font-weight-light: 400;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-size: 16px;

#root {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  font-size: $font-size;
}

p {
  font-weight: $font-weight-light;
}
